# --- Python environment ---
.venv
__pycache__

# --- LLM models ---
*.gguf

# --- Mem files ---
*.hada

# --- Voices files ---
*.onnx
*.onnx.json

# --- Tasks files ---
tasks.json

# --- Software ---
llama.cpp/
piper/