# LLM Managment
openai >= 2.31.0
huggingface-hub >= 0.36.2

torch >= 2.11.0 --index-url https://download.pytorch.org/whl/cu130
torchvision >= 0.26.0 --index-url https://download.pytorch.org/whl/cu130

# Background Executions
pywinpty >= 3.0.3

# Voice
RealtimeSTT >= 0.3.100
RealtimeTTS >= 0.6.0
faster-qwen3-tts >= 0.2.5

# Voice Mod
librosa >= 0.11.0
sounddevice >= 0.5.5

# Web Server
flask >= 3.1.0