--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchaudio
torchvision
torchcrepe

openai
huggingface-hub

RealtimeSTT
RealtimeTTS[kokoro]

pywinpty

soundfile
sounddevice

numpy
scipy
librosa
fairseq
praat-parselmouth
pyworld
av
faiss-cpu
ffmpeg-python
tensorboard